<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TcmCacheService" type="TcmCacheService.Configuration.Config, TcmCacheService"/>
	</configSections>
	<TcmCacheService>		
		<!-- ZeroMQBroker exposes both a subscription and a submission port, this allows Tridion virtual machines
					to send and recieve cache events. The topic ensures that only Tridion instances for the same instance (Topic)
					receive each others messages -->
			<setting key="subscriptionUri">tcp://*:5556</setting>
			<setting key="submissionUri">tcp://*:5557</setting>
			<setting key="topic">Tridion</setting>
	</TcmCacheService>
	<system.diagnostics>
		<sources>
			<!-- 
				Control log level by setting the switchValue to:
				- Verbose
				- Information
				- Warning
				- Error
			-->
			<source name="TcmCDService" switchValue="Verbose">
				<listeners>
					<remove name="Default"/>
					<add name="FileLogListener" type="TcmCDService.Logging.RolloverTraceListener, TcmCDService.Common" initializeData="F:\temp\TcmCacheService.log"/>
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" indentsize="2"/>
	</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
