<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TcmCDService.Remoting" type="TcmCDService.Remoting.Configuration.Config, TcmCDService.Remoting" />
	</configSections>
	<!-- Endpoint configuration to use for the Tridion remoting client -->
	<TcmCDService.Remoting endpoint="netNamedPipe" />	
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="basicHttp">
					<textMessageEncoding messageVersion="Soap11" />
					<httpTransport hostNameComparisonMode="Exact" maxBufferSize="262144" maxReceivedMessageSize="262144" maxBufferPoolSize="262144" decompressionEnabled="true" keepAliveEnabled="true" />
				</binding>
				<binding name="wsHttp">
					<textMessageEncoding />
					<httpTransport hostNameComparisonMode="Exact" maxBufferSize="262144" maxReceivedMessageSize="262144" maxBufferPoolSize="262144" decompressionEnabled="true" keepAliveEnabled="true" />
				</binding>
				<binding name="netTcp">
					<binaryMessageEncoding />
					<tcpTransport hostNameComparisonMode="Exact" maxBufferSize="262144" maxReceivedMessageSize="262144" maxBufferPoolSize="262144" />
				</binding>
				<binding name="netNamedPipe">
					<binaryMessageEncoding />
					<namedPipeTransport hostNameComparisonMode="Exact" maxBufferSize="262144" maxReceivedMessageSize="262144" maxBufferPoolSize="262144" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint binding="customBinding" contract="TcmCDService.Contracts.IService" name="basicHttp" address="http://localhost:12001/TcmCDService/basic" bindingConfiguration="basicHttp"  />
			<endpoint binding="customBinding" contract="TcmCDService.Contracts.IService" name="wsHttp" address="http://localhost:12001/TcmCDService" bindingConfiguration="wsHttp" />
			<endpoint binding="customBinding" contract="TcmCDService.Contracts.IService" name="netTcp" address="net.tcp://localhost:12002/TcmCDService" bindingConfiguration="netTcp" />
			<endpoint binding="customBinding" contract="TcmCDService.Contracts.IService" name="netNamedPipe" address="net.pipe://localhost/TcmCDService" bindingConfiguration="netNamedPipe" />
		</client>
	</system.serviceModel>
</configuration>